html {
    box-sizing: border-box;
    font-size: 12px;
    font-family: Helvetica Neue, Helvetica, 'Microsoft YaHei', STXihei, sans-serif;
    font-weight: 400;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: Helvetica Neue, Helvetica, 'Microsoft YaHei', STXihei, sans-serif;
    display: block;
    // margin: 8px;
}

ol,
ul {
    list-style: none;
}

fieldset,
a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
    height: auto;
    width: 100%;
}

button,
input {
    line-height: normal;
}

.clear-float:after {
    content: '';
    display: block;
    clear: both;
}

// Global ---------------
#app {
    height: 100%;
}

.hover-1 {
    transition: color .6s;
}

.hover-1:hover {
    color: #f9934e;
}

// Drop Menu -----------
.drop-menu > li {
    display: none;
}

.drop-title:hover .animation-menu-1 > li {
    display: block;
}

// style 1 
.animation-menu-1 > li {
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            opacity: 0;
            animation-name: animationMenu1;
            animation-duration: 200ms * $i;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes animationMenu1 {
    0% {
        opacity: 0;
        transform: rotateY(-90deg) translate3d(0, 30px, 0);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
